<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth Passport Challenge</title>
</head>
<body>
<header>
    <div>
        <% Object.entries(flash).forEach(([type, messages]) => { %>
            <% messages.forEach((message) => { %>
                <div>
                    <%= message; %>
                </div>
            <% }); %>
        <% }); %>
    </div>
    <br>
    <% if (currentUser) { %>
        <span>Welcome, <%= currentUser.name; %></span>
        <a href="/signout">Log Out</a>
    <% } else { %>
        <a href="/signin">Log In</a>
    <% } %>
</header>
<section>
    <div>
        <%- body; %>
    </div>
</section>
</body>
</html>
